body {
    background-color: #e8e2d8;

}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #d85428;

}

.red-o {
    color: #d85428;

}

.thin {
    font-weight: 300;

}

.light-bg {
    background-color: #a3cfc7;

}

.dark-bg {
    background-color: #2a4878;

}

.main-bg {
    background-color: #abbdd9;

}

.card {
    border: none;
    background-color: transparent;

}

.image-container {
    position: relative;

}

.author {
    color: black;
    margin: 4px;
    text-transform: uppercase;

}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 35vh;
    width: 100%;

}

.masthead-text {
    background-color: #2a4878;
    color: white;
    position: relative;

}

.masthead-image {
    position: relative;
    overflow: hidden;

}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 100%;
    background: #2a4878;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    transform: skew(30deg);
    z-index: 100;

}

.post-link {
    text-decoration: none;
    color: #2a4878;

}

.post-link:hover,
.page-link {
    color: #E84610;

}

.post-title {
    margin-top: 20%;
    margin-left: 5%;

}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;

}

.btn-signup {
    background-color: #eb6134;
    color: #fff;

}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #eb6134;

}

.link {
    color: #eb6134;
    text-decoration: none;

}

.link:hover,
.link:active {
    color: #d85428;

}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;

}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;

}

.bg-color {
    color: black !important;
    background-color: #fff !important;

}

.nav-color {
    color: white !important;

}

.nav-color:hover,
.nav-color:active {
    color: black !important;

}

.fa-github {
    color: 	white;
    margin-right: 10px;
    font-size: x-large !important;
    display: inline;

}

.fa-linkedin {
    color: #0A66C2;
    overflow: hidden !important;
    font-size: x-large !important;
    display: inline !important;

}

.cat-back {
    margin-left: 15px;

}
