{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-center top-fix">
    <h1>Add Category</h1>
</div>
<div class="d-flex justify-content-center top-fix1">
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-signup">Add Category</button>
            <a href="{% url 'home' %}" class="btn btn-signup">Back</a>
        </form>
    </div>
</div>

{% endblock %}