{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-center top-fix align">
    <h1>Delete Post</h1>
</div>
<br>
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <div class="d-flex justify-content-center">
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    <strong>This will delete the post of category <br><span class="red-o">"{{ post.category}}"</span></strong><br>
                    <strong>Are you sure!<br>You want to delete the post?</strong><br><br>
                    <button class="btn btn-signup">Delete Post!</button>
                    <a href="{% url 'home' %}" class="btn btn-signup">Back</a>
                </form>
            </div>
        </div>
    {% else %}
        <p class="cat-back">Sorry, you are not allowed to delete this post!</p><br>
        <a href="{% url 'home' %}" class="btn btn-signup cat-back">Back</a>
    {% endif %}
{% else %}
    <p class="cat-back">Sorry, you are not allowed to delete this post!</p><br>
    <a href="{% url 'home' %}" class="btn btn-signup cat-back">Back</a>
{% endif %}

{% endblock %}